.DropBox {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    background-color: #eee;
    display: flex;
    align-items: center;
    flex-direction: column;

    .input-area {
        width: 200px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: whitesmoke;
        cursor: pointer;

        input {
            width: 200px;
            height: 30px;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            padding-left: 10px;
        }

        .triangle {
            padding-right: 10px;
        }
    }

    .dropList {
        padding-left: 0;
        margin: 0;
        border: 2px solid #ccc;
        border-radius: 5px;

        input{
            width: 200px;
            height: 35px;
            border: none;
            border-bottom: 1px solid #ccc;
            outline: none;
            background-color: whitesmoke;
            padding-left: 10px;
        }

        li {
            list-style: none;
            text-align: left;
            padding: 5px 10px;
            background-color: whitesmoke;
            cursor: pointer;
            font-size: 13px;
        }
    }

    .hide {
        display: none;
    }
}