.Tab {
    width: 450px;
    height: 100px;
    margin: 50px auto;
    background-color: rgb(252, 245, 245);
    position: relative;

    .Tab-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        border-bottom: 3px solid #ddd;
        box-sizing: border-box;

        .Tab-bar {
            width: 150px;
            float: left;
            cursor: pointer;
            text-decoration: none;
            color: #bbb;
            font-weight: bold;
        }

        .Tab-bar-Clicked {
            width: 150px;
            float: left;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            color: #009378;
        }
    }
}